<nav class="navbar navbar-expand-lg sticky-top nav-light border-bottom">
  <div class="container-fluid">
    <!-- Brand & Logo on the left -->
    <div class="d-flex align-items-center">
      <img src="/chatbot.png" alt="Vibesync Logo" class="img-fluid" style="height: 2.5rem;">
      <a class="navbar-brand ms-2" href="/aarogyam" style="color: rgb(255, 255, 255); font-size: clamp(1.5rem, 5vw, 2rem);">
        <b>Vibesync</b>
      </a>
    </div>

    <!-- Centered navigation links -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <div class="navbar-nav d-flex gap-5" style="margin-left: -200px;">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">Features</a>
        <a class="nav-link" href="/">Contact</a>
      </div>
    </div>
  </div>
</nav>
